<footer class="footer">
    <div class="footer-container">
      <div class="social-container">
        <img src="./assets/images/icon-facebook.svg" alt="" />
        <img src="./assets/images/icon-instagram.svg" alt="" />
        <img src="./assets/images/icon-twitter.svg" alt="" />
        <img src="./assets/images/icon-pinterest.svg" alt="" />
      </div>
      <div class="menu">
        <a href="#">About us</a>
        <a href="#">Contact us</a>
        <a href="#">Blog</a>
      </div>
      <div class="menu">
        <a href="#">Carriers</a>
        <a href="#">Support</a>
        <a href="#">Privacy Policy</a>
      </div>
      <button>Request Invite</button>
    </div>
  </footer>
